*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier Prime', monospace;
    background-color: #F5F5F5;
}

img {
    max-width: 100%;    
}

h1 {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* Utilidades */

.flex {
    display: flex;
    justify-content: space-between;
}

.contenido-centrado {
    max-width: 800px;
}

.seccion {
    margin: 2rem auto;
}

.centrar-texto{
    text-align: center;
}

.header {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 50px;
}

.fw-400{
    font-weight: 400;
}

.fw-700{
    font-weight: 700;
}

.fs-48 {
    font-size: 48px;
}

.fs-32 {
    font-size: 32px;
}

.up {
    text-transform: uppercase;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#E73C7E, #23D5AB);
    border-radius: 6px;
}

/* Header */

.logo {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 200px;
    height: 72px;
    margin-left: 20px;
}

.logo nav{
    margin-right: 20px;
}

.logo nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.logo nav a:hover {
    font-size: 20px;
}

/* Presentation */

.bg-img {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0/w_1551,c_limit/1c21062d-1def-4a01-8fe7-ec9926e35900/sitio-web-oficial-de-nike.jpg");
    filter: blur(6px);
    -webkit-filter: blur(6px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.presentation {
    color: white;
    height: calc(100vh - 92px);
    width: 100%;
}

.presentation div {
    height: calc(100vh - 92px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenido {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
}

/* Cards */

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 550px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9BDC28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.container .card::after {
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: -20%;
    font-size: 12em;
    font-weight: 700;
    font-style: italic;
        color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 1s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 270px;
    transform: translate(-50%, -50%) rotate(25deg);
}

.container .card .contentBx {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .color,
.container .card .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .color h3,
.container .card .contentBx .size h3 {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    background-color: #9BDC28;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    margin:  0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background-color: #9BDC28;
}

.container .card .contentBx .color span:nth-child(3) {
    background-color: #03A9F4;
}

.container .card .contentBx .color span:nth-child(4) {
    background-color: #E91E63;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}