body {
    font-family: 'Lato', sans-serif;
    background: #262626;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: red;
}


/* Utilidades */
.contenido-centrado {
    max-width: 800px;
}

.seccion {
    margin: 2rem auto;
}

.centrar-texto{
    text-align: center;
}

.header {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.fw-400{
    font-weight: 400;
}

.fw-700{
    font-weight: 700;
}

.fw-900{
    font-weight: 900;
}

.margin-top {
    margin-top: 70px;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#E73C7E, #23D5AB);
    border-radius: 6px;
}


/* Page Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    padding: 10px;
}

.main-header img {
    height: 108px;
    width: 108px;
    border-radius: 50%;
}

.main-header ul {
    list-style: none;
    display: flex;
    text-align: center;
}


.radious {
    border-radius: 40%;
}

.main-header ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 1s;
}

.main-header ul li a {
    text-decoration: none;
    color: inherit;
}

.main-header ul li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 1s;
}

.main-header ul li:nth-child(1):before {
    background: #4267B2;
}

.main-header ul li:nth-child(2):before {
    background: #1DA1F2;
}

.main-header ul li:nth-child(3):before {
    background: #E1306C;
}

.main-header ul li:nth-child(4):before {
    background: #FF0000;
}

.main-header ul li:hover::before {
    filter: blur(3px);
    transform: scale(1.2);
}

.main-header ul li:nth-child(1):hover::before {
    box-shadow: 0 0 15px #4267B2;
}

.main-header ul li:nth-child(2):hover::before {
    box-shadow: 0 0 15px #1DA1F2;
}

.main-header ul li:nth-child(3):hover::before {
    box-shadow: 0 0 15px #E1306C;
}

.main-header ul li:nth-child(4):hover::before {
    box-shadow: 0 0 15px #FF0000;
}

.main-header ul li:nth-child(1):hover {
    color: #456CBA;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}

.main-header ul li:nth-child(2):hover {
    color: #26A4F2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
}

.main-header ul li:nth-child(3):hover {
    color: #E23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
}

.main-header ul li:nth-child(4):hover {
    color: #FF1A1A;
    box-shadow: 0 0 15px #FF0000;
    text-shadow: 0 0 15px #FF0000;
}

.page-header {
    height: 100vh;
    width: 100%;
    color: #FFF;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.shadowing {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.page-header h1{
    margin-top: 0;
    font-size: 50px;
}

.page-header p{
    padding-bottom: 100px;
    font-size: 30px;
}

.header-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-contenedor img {
    max-height: 411px;
}

.header {
    min-height: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* Experiencia */
main{
    position: relative;
    margin-top: 150px;
}

.experiencia{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 5rem 10rem;
}

.boton {
    transition: 2.5s;
    background-position: 0 50%;
    background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;  
}

.boton:hover {
    background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    transition: 5s;
    background-position: 100% 50%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pair-cards {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

.pair-cards:last-of-type {
    margin-bottom: 200px;
}

.card {
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #5f5f5f;
    max-width: 400px;
    padding: 50px 80px;
    height: 500px;
    justify-content: space-around;
    border-radius: 50px;
    background-color: #353535;
}

.card:hover {
    transition: 1s;
    border: 2px solid white;
}

.card ul {
    padding: 0;
}

.card li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.card li:first-of-type {
    margin-left: 0;
}

.card img {
    max-width: 150px;
}

.card h3 {
    font-size: 30px;
}

.card p {
    font-size: 20px;
}

/* Python */

.python-header h3{
    color: darkgrey;
}

.python-header img{
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

/* Java */

.java-header img {
    width: 200px;
    height: 100px;
}

/* Contacto */

fieldset {
    border-radius: 10px;
}

.centrar-contenido{
    align-items: center;
}

label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

input:not([type="submit"]), textarea{
    padding: 10px 0 10px 5px;
    display: block;
    width: 100%;
    background-color: #404040;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    color: white;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    margin: 50px 0 50px 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}


/* Media Queries */

@media(max-width: 1300px) {
    .header-contenedor {
        flex-direction: column-reverse;
    }

    .header-contenedor img {
        margin-top: 50px;
    }

    .header-contenedor h1, .header-contenedor p {
        margin: 0 auto;
    }

    .header {
        margin-top: 0;
    }

    .pair-cards {
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    .card {
        margin-top: 100px;
    }

}

@media(max-width: 960px) {
    .experiencia {
        font-size: 18px;
        padding: 4rem 8rem;
    }
}

@media(max-width: 900px){
    .header h1 {
        font-size: 30px;
    }

    .header p {
        font-size: 18px;
    }
}

@media(max-width: 720px) {
    .experiencia {
        font-size: 14px;
        padding: 2rem 4rem;
    }

    .main-header ul li {
        font-size: 15px;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .main-header img {
        height: 54px;
        width: 54px;
    }

}

@media(max-width: 400px){
    .main-header {
        flex-direction: column;
    }

    .main-header ul {
        padding-inline-start: 0;
    }

    .card ul {
        align-items: center;
    }

    .card li{
        list-style: none;
        font-size: 10px;
    }
    
    .card img {
        max-width: 100px;
    }
    
    .card h3 {
        font-size: 20px;
    }
    
    .card p {
        font-size: 13px;
    }
}

@media(max-height: 900px) {
    .header-contenedor img {
        margin-top: 150px;
    }
}

@media(max-height: 800px) {
    .header-contenedor img {
        margin-top: 150px;
    }

    .page-header {
        height: 115vh;
    }
}

@media(max-height: 700px) {
    .header-contenedor img {
        margin-top: 175px;
    }

    .page-header {
        height: 130vh;
    }
}

@media(max-height: 600px) {
    .header-contenedor img {
        margin-top: 200px;
    }

    .page-header {
        height: 140vh;
    }
}

@media(Max-height: 550px) {
    .header-contenedor img {
        width: 30%;
        margin-top: 230px;
    }

    .page-header {
        height: 160vh;
    }
}

@media(Max-height: 400px) {
    .header-contenedor img {
        margin-top: 240px;
    }

    .page-header {
        height: 170vh;
    }
}

@media(Max-height: 350px) {
    .header-contenedor img {
        margin-top: 150px;
    }

    .page-header {
        height: 300vh;
    }
}